.seconds {
  font-size: 40%;
  color: #5e5e5e;
  position: relative;
  top: -1em;
}

i {
  margin-right: 5px;
}

.message {
  font-size: 125%;
}

.time {
  font-size: 1.5em;
}
.date {
  font-size: 1.25em;
}
