.layout {
  display: grid;
  height: 100vh;
  color: #aaa;
  grid-template-columns: repeat(5, 1fr);
  align-content: space-between;
  grid-template-areas:
    'TL TL . TR TR'
    'P P P P P'
    'M M M M M'
    'BL . . . BR';
  padding: 1rem;
  justify-items: center;
  justify-content: space-between;
}

.middleBottom {
  grid-area: MB;
  height: 300px;
}

.topLeft {
  grid-area: TL;
  justify-self: start;
}

.topRight {
  grid-area: TR;
  justify-self: end;
}

.middle {
  grid-area: M;
}

.bottomLeft {
  grid-area: BL;
  align-self: end;
}

.bottomRight {
  grid-area: BR;
  align-self: end;
}

.pArea {
  height: 75vh;
}
