/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
html {
  cursor: none;
  overflow: hidden;
  background: #000!important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 60px!important;
  position: absolute!important;
  height: calc(100% - 120px)!important;
  width: calc(100% - 100px)!important;
  background: #000!important;
  color: #aaa!important;
  font-family: "Roboto Condensed", sans-serif!important;
  font-weight: 400!important;
  font-size: 2em!important;
  line-height: 1.5em!important;
  -webkit-font-smoothing: antialiased!important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*.Clock{
  top: 100%;
  text-align: left;
  background-color: red;
  margin-bottom: 25px;
}*/

